


.product-carousel{
    position: relative !important;
    overflow: hidden !important;
    padding: 28px;
    width: 77%;
    margin: auto;
    margin-top: -100px;
    align-items: center;

}

.product-container{
    padding: 10px 10px;
    display: flex !important;
    overflow-x: hidden !important;
    scroll-behavior: smooth;

}

.pre-btn, .next-btn {
    border: none;
    width: 50px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.265);
    position: absolute;
    font-size: xx-large;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

}

.next-btn{
    right: 0;
    
    
}
.pre-btn{
    left: 0;
}

.pre-btn:hover, .next-btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}

