.footer{
    margin-top: 5em;
    background-color: rgb(56, 56, 56);
    height: 20em;
    color: aliceblue;
    margin: auto;
}




.brands{
    padding-top: 20px;
    padding-bottom:  10px;
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-left: auto !important;
    margin-right: auto !important;
    gap: 1em;
    align-items: center;
    justify-content: center;
   
}

.brands img{
    max-width: 100px;
    display: flex;
    transition: 200ms;
    /* border-radius: 100px; */
    
}

.brands img:hover{
    transform: scale(1.05);
}

.footer_bottom{
    margin-top: 20px;
    height: 50%;
    align-items: center !important;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}
.footer_bottom img{
    width: 100px;
}


.footer_bottom h2{
    margin: 0 !important;
    font-size: 30px;
}