.blog_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: auto !important;
    max-width: 75%;
    margin-top: 3em !important;
    height: 80vh !important;
}