
.blog_card {
    max-width: 400px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    margin: 1em;
    transition: 100ms;
  }
  .blog_card:hover{
    transform: scale(1.01);
    cursor: pointer;
  }
  
  .blog_card a {
    text-decoration: none
  }
  
  .blog_content {
    padding: 1.1rem;
  }
  .blog_content button{
    text-align: center;
   
  }
  
  .blog_image {
    object-fit: cover;
    width: 100%;
    height:auto;
    background-color: rgb(249, 249, 249);
  }
  
  .blog_title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
  
  .blog_desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .blog_action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #2563EB;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .blog_action span {
    transition: .3s ease;
  }
  
  .blog_action:hover span {
    transform: translateX(4px);
  }
  
  .blog_card_button span{
    font-size: large;

  }
  .blog_card_button{
    width: 100%;
  }

  .blog_card_img{
    height: 200px;
    object-fit:cover
  }

  .blog_cart_link{
    text-decoration: none;
  }